body{
    text-align: center;
    margin: 30px;
    background-color: beige;
}

.cuadro {
    width: 200px;
    height: 200px;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    opacity: 0.6;

}

.cuadro:hover{
    box-shadow: 10px 5px 5px rgb(172, 171, 171);
}

.cuadro-0 {
    border-radius: 10px;
    background-color: green;
}

.cuadro-1 {
    border-radius: 10px;
    background-color: red;
}

.cuadro-2 {
    border-radius: 10px;
    background-color: yellow;
}

.cuadro-3 {
    border-radius: 10px;
    background-color: blue;
}
